@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&display=swap');
.bodyy{
    font-family: 'Josefin Sans', sans-serif;
}


.navbaar{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 100;



} 
ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
    font-size: 20px;
    
}
ul li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.logo1{
    font-size: 30px;
    color:white;
    font-weight: bolder;
   


}
.logo2{
    font-size: 30px;
    color: red;
    font-weight: bolder;

}

.logoon{
    margin-left: 10px;
}
.bolt{
    font-size:50px;
    color: red;

}
ul li a:hover{
    transition-duration: .4s;
    color: red;
    

}
a{
    text-decoration: none;
}
.faq{
    margin: 0px 50px 0px 0px;
    border-radius: 25px;
    padding: 20px;
    font-weight: 900;
    font-size: 20px;
    background: transparent;
    color: white;
}
.faq:hover{
    transition-duration: .4s;
    color: red;
}

.page1{
    height: 90vh;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255,0),rgba(0, 0, 0,1)),url(./contact\ us.jpg) no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    animation-name: animaa;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: 1;
    box-sizing: border-box;

}
@keyframes animaa{
    from{
        transform: scaleX(0);

    }
    to{
        transform: scaleX(1);

    }
}



.alpha{
    height: 200px ;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 900;
    background: transparent;



}

.beta{
    height:250px ;
    width: 250px;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    background: transparent;
   
   

}
.learn{
    border: 1px solid white;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bolder;
    width: 150px;
    background: transparent;
    color: white;
    height: 50px;
}
.learn:hover{
    transition-duration: .4s;
    color:rgb(255, 255, 255);
    background-color: red;
    border: 1px solid red;
}
.p{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 94, 0);
}
.k{
   font-weight: 900;
    color: white;
}
.page2{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.box1{
    height: 20vh;
    width: 100%;
    background-color: rgb(235, 235, 235);
    text-align: left;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    


}
.box2{
    height: 40vh;
    width: 100%;
    background-color: rgb(204, 204, 204);
    text-align: left;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;

}
.box3{
    height: 40vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: left;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    

}
.x{
    color: blue;
}
.y{
    text-decoration: underline;
    color: blue;

}
@media only screen and (max-width:1200px){
    .navbaar{
        height:100px ;
    }
    ul li{
        padding-left: 10px;
        padding-right: 5px;
        font-size: 20px;
        position: relative;
        left: 40px;
        
    }
    .faq{
        padding-left: 5px;
        padding-right: 5px;
        margin: 0px;

    }
    .logo1{
        font-size: 25px;
        margin-left: 5px;
        
    }
    .logo2{
        position: relative;
        left: 40px;
        top: 2px;
        font-size: 25px;
    }
    .bolt{
        font-size: 25px;
        
    }
    .logoon{
        padding-top: 10px;
    }
    .beta{
        height: 150px;
        width: 150px;
        padding-bottom: 40px;
        box-sizing: border-box; 
    }

    .p{
        font-size: 20px;
    }
    .k{
        font-size: 10px;
    }
    .learn{
        font-size: 10px;
        width: 70px;
    }
  
}