@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&display=swap');
.bodyy{
    font-family: 'Josefin Sans', sans-serif;
}
.pg1{
    height: 100vh;
    width: 100%;
    color: black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.navbaar{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 80px; 
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    padding-top: 15px;
    box-sizing: border-box;



}
ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
    font-size: 20px;
    
}
ul li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.logo1{
    font-size: 30px;
    color:white;
    font-weight: bolder;
    
   


}
.logo2{
    font-size: 30px;
    color: red;
    font-weight: bolder;
   
}

.logoon{
    margin-left: 10px;
}
.bolt{
    font-size:50px;
    color: red;
  
}
ul li a:hover{
    transition-duration: .4s;
    color: red;
    

}
a{
    text-decoration: none;
}
.faq{
    margin: 0px 50px 0px 0px;
    border-radius: 25px;
    padding: 20px;
    font-weight: 900;
    font-size: 20px;
    background: transparent;
    color: white;
}
.faq:hover{
    transition-duration: .4s;
    color: red;
}


.picta{
    height: 400px;
    width: 550px;
    background: url(./solar\ panel.jpg) no-repeat center center/cover;
    text-align: center;
    padding-top: 20px;
    margin-top: 80px;
    animation-name: anima;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: 1; 
}
@keyframes anima{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
.texa{ 
    height: 400px;
    width: 45%;
    text-align: justify;
    font-size: 20px;
    color: rgb(0, 0, 0);
    animation-name: animaa;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: 1;
    /*padding-top: 20px;*/
    margin-top: 80px;
    box-sizing: border-box;

}
@keyframes animaa{
    from{
        transform: scaleX(0);

    }
    to{
        transform: scaleX(1);

    }
}
.advatise{
    height: 70px;
    width: 100%;
    background: linear-gradient(to right,rgb(253, 0, 0),rgb(255, 166, 0));
    animation-name: animaa;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: 1;
    border-radius: 50px ;
    border: 1px transparent;
    text-align: center;
    padding-top: 20px;

}
@keyframes animaa{
    from{
        transform: scaleX(0);

    }
    to{
        transform: scaleX(1);

    }
}
.aaa{
    color: white;
    font-size: 20px;
}
.red{
    color: red;
}
.pg2{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;

}
.box1{
    height: 250px ;
    width: 80%;
    background: url(./circuits.jpg) center center/cover no-repeat;
    text-align: center;
    color: white;
    font-weight: 100;
    padding-top: 30px;
    box-sizing: border-box;
    border-radius: 40px;
}
.instant{
    border: 2px transparent;
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(255, 0, 0);
    font-size: 15px;
    font-weight: 900;
    color: white;
    width: 250px;
}
.instant:hover{
    transition-duration: .4s;
    color: white;
    background-color: rgb(0, 0, 0);

}
.custom{
    border: 1px solid white;
    border-radius: 25px;
    padding: 20px;
    font-size: 15px;
    font-weight: 900;
    width: 250px;
    background: transparent;
    color: white;

}
.custom:hover{
    transition-duration: .4s;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
}
.box2{
    height: 300px;
    width: 500px;
    background-color: rgb(240, 236, 236);
    border: 1px transparent;
    margin: 10px;
    border-radius: 40px;
    text-align: center;
    
}
.box2:hover{
    transform: scale(1.05);
    transition-duration: .4s;
}
.x{
    font-size: 30px;
    color: rgb(255, 153, 0);
    font-weight: bolder;
    padding-top:20px ;

}
.y{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(34, 34, 34);
}
.z{
    font-size: 38px;
}

.pg3{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background:linear-gradient(rgba(255, 255, 255,0),rgba(0, 0, 0,1)) ,url(./building.jpg) no-repeat center center/cover;

}
.logo3{
    font-size: 40px;
    color:white;
    font-weight: 900;


}
.logo4{
    font-size: 40px;
    color: red;
    font-weight: 900;
}
.boltt{
    color: red;
}

.alpha{
    height: 200px ;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 900;
    padding-top: 30px;
    padding-right: 900px;
    background: transparent;



}

.beta{ 
    height:250px ;
    width: 250px;
    text-align: center;
    background: transparent;
    box-sizing: border-box;
    padding-top: 30px;
   
   

}
.ceta{
    height:250px ;
    width: 250px;
    text-align: center;
    background: transparent;
    box-sizing: border-box;
    padding-top: 100px;
   
   

}
.learn{
    border: 1px solid white;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bolder;
    width: 150px;
    background: transparent;
    color: white;
    height: 50px;
}
.learn:hover{
    transition-duration: .4s;
    color:rgb(255, 255, 255);
    background-color: red;
    border: 1px solid red;
}
.p{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 94, 0);
}
.k{
   font-weight: 900;
    color: white;
}
.pg4{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.commercial1{
    height: 200px ;
    width: 100%;
    text-align: center;
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.pixa{
    height: 130px;
    width: 50%;
    padding-top: 20px;

}
.pp{
    font-size: 30px;
    font-weight: 900;
    color: rgb(255, 0, 0);
}
.kk{
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.commercial2{
    height: 300px;
    width: 200px;
    border: 2px transparent ;
    text-align: center;
    border-radius: 30px;
    padding: 30px 0px 0px 0px;
    background-color: rgb(241, 241, 241);
    margin: 0px 20px 0px 20px;
    
    
}
.commercial2:hover{
    transform: scale(1.05);
    transition-duration: .4s;
}
.signa{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    font-size: 15px;
    font-weight: bolder;
    width: 150px;
    background-color: red;
    color: rgb(255, 255, 255);
    height: 50px;

}
.signa:hover{
    transition-duration: .4s;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
}
.com1{
    color: orange;
    font-size: 20px;
    font-weight: 900;
    
}
.pg5{
    height: 90vh;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255,0),rgba(0, 0, 0,1)),url(./servicess.jpg) no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.foot{
    height: 40vh;
    width: 100%;
    background-color: rgb(48, 47, 47);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.ending1,
.ending2,
.ending3{
    height: 30vh;
    width: 300px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: white;
}

.fb{
    color: blue;
    

}
.ins{
    color: rgba(209, 58, 58, 0.836);
}
.gram{
    text-decoration: none;
    color: white;

}

@media only screen and (max-width:920px){
   
    .pg1{
        height: 200vh;
    }
    .pg2{
        height: 150vh;
    }
    .pg4{
        height: 200vh;
    }
    .carousel{
        width: 400px !important;
        height: 300px !important;
    }
    .ffa{
        width: 400px !important;
        height: 300px !important;
    }
    .canta{
        height: 60vh;
    }
    .navbaar{
        height:100px ;

    }
    .texa{
        width: 70%;
        height: 700px;
        margin-top: 0px;
      
    }
    ul li{
        padding-left: 10px;
        padding-right: 5px;
        font-size: 20px;
        position: relative;
        left: 40px;
        
    }
    .faq{
        padding-left: 5px;
        padding-right: 5px;
        margin: 0px;

    }
    .alpha{
        padding-right: 0;
    }
    .beta{
        height: 150px;
        width: 150px;
    }
    .ceta{
        height: 150px;
        width: 150px;
        padding-top: 60px;
    }
    .p{
        font-size: 20px; 
    }
    .k{
        font-size: 10px;
    }
    .learn{
        font-size: 10px;
        width: 70px;
    }
    .logo1{
        font-size: 25px;
        margin-left: 5px;
        
    }
    .logo2{
        position: relative;
        left: 40px;
        bottom: 10px;
        font-size: 25px;
    }
    .bolt{
        font-size: 25px;
        
    }

    .advatise{
        margin-top: 100px;
        height: 120px;
    }
    .picta{
        margin-top: 30px;
    }
    .commercial2{
        margin: 10px;

    }
    .commercial1{
        height: 400px;

    }
    .pixa{
        height: 400px;
        width: 80%;
    }
    .logoon{
        padding-top: 10px;
    }
    .z{
        font-size: 30px;
    }
    .box1{
        height: 300px;
    }
    .y{
        font-size: 15px;
    }
    .x{
        padding-top:20px ;
        font-size:25px;
    }
    

}
  /*     dont apply flex-wrap:wrap; in navbar and footer
     try not to use it for those element whos are aligned in one row 
     like navbar and 
     
     but use flex-wrap:wrap; for those elements whoes width and 
     height cannot be compromised such as 
     Aezax power & customer services  page 

     widths and heights which are given in %  automatically 
     minimizes when you reduce screen width on media query
     



     */
